# Clarity History
clarity/history.txt
clarity/.vscode
clarity/coverage.lcov

clarity/.git_tmp_repos

deployContracts-keychain.json
**/contract-records/
**/hex-files/
**/staged-contracts/
init-js-tool/.env
**/.DS_Store

.env
node_modules
/contract-records.json
yarn-error.log
tsconfig.tsbuildinfo
contracts_modules